In [1]:
import pymysql
import tkinter as tk

#Open database connection
database = pymysql.connect("localhost", "root","Diallo1!", "Netflix")

try:
    
    #Cursor object
    with database.cursor() as cursor:
#         age = [12,34,54,23,20,9,40,13,41,21]
#         country = ["USA", "France", "UK", "Germany", "USA", "Canada","Russia", "Ghana", "South Korea", "Japan"]
    
#         for i in range(10):
#             sql = ("INSERT INTO User(id, username, age, country)"
#                        "VALUES (%s, %s, %s, %s)")

#             username = "username" + str(i)  
#             cursor.execute(sql, (i, username, age[i], country[i]))
#             database.commit()


#         show = ["Movie", "TV Show"]
#         lang = ["English", "Spanish", "French", "Chinese", "Arabic"]
#         genre = ["Romance", "Drama", "Action", "Mystery", "Horror"]
#         year = ["2010", "2012", "2013", "2014", "2015", "2016", "2017", "2018"]
        
#         for i in range(20):
#             sql = ("INSERT INTO Shows(id, name, description, language, genre, releaseYear)"
#                     "VALUES (%s, %s, %s, %s, %s, %s)")

#             showname = show[i % len(show)] + " " + str(i)
#             descri = "Sample Show description......."
#             cursor.execute(sql, (i, showname, descri, lang[i % len(lang)], genre[i % len(genre)], 
#                                  year[i % len(year)]))
    
#             database.commit()
    
#         director_name = ["John", "Linda", "Elizabeth", "Frank", "Joongi"]
        
#         for i in range(5):
#             cursor.execute("INSERT INTO directors(id, name) VALUES(%s, %s)", (i, director_name[i]))
#             database.commit()
            
            
#         season = ["1", "2", "3", "4", "5"]
#         rating = ["TV-Y", "TV-Y7", "TV-G", "TV-PG", "TV-14", "TV-MA"]
        
#         odd = ["1", "3", "5", "7", "9", "11", "13", "15", "17", "19"]
#         even = ["0", "2", "4", "6", "8","10","12", "14", "16", "18"]
#         duration = ["90", "123", "60", "124"]
#         director = ["0", "1", "2", "3", "4"]
        
#         insert1 = ("INSERT INTO TVShows(id, rating, numSeasons)"
#                     "VALUES (%s, %s, %s)")
#         insert2 = ("INSERT INTO Movies(id, rating, duration, directorId)"
#                     "VALUES (%s, %s, %s, %s)")
        
#         for i in range(10):
#             cursor.execute(insert1,(odd[i], rating[i % len(rating)], 
#                                     season[i % len(season)]))
#             database.commit()
            
#             cursor.execute(insert2, (even[i], rating[i % len(rating)], 
#                                      duration[i % len(duration)],
#                                      director[i % len(director)]))
#             database.commit()
        
       
        
finally:
    database.close()

IndentationError: expected an indented block (<ipython-input-1-bd1803a857d0>, line 71)